.DailyEvents {
  grid-template-columns: 1fr 1fr;
}

.HourlyEvents {
  grid-template-columns: 1fr 1fr 1fr;
}

.DailyStats {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.HourlyStats {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.Chart {
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.2);
  margin-bottom: 2em;
}

.Title {
  text-align: center;
  margin: 2em 0;
}
