.GoogleMap {
  width: 100%;
  height: 60vh;
}

.Title {
  text-align: center;
  margin: 2em 0;
}

.Pin {
  color: #fff;
  background: rgb(56, 131, 189);
  border-radius: 50%;
  width: 55px;
  height: 55px;
  padding: 10px;
  font-size: 11px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 799px) {
  .GoogleMap {
    height: 80vh;
  }
}
